html {
  background-color: #302c2e;
}

#calc-container {
  display: grid;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: orange;
  border-radius: 15px;
  padding: 1em;
  max-width: 280px;
  box-shadow: 7px 7px 5px #1b181a;
}

#calc-output {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  height: 3rem;
  margin: 0 0 0.2em 0;
  font-size: 2rem;
  padding: 0.2rem;
}

.calc-row {
  padding: 0.4rem 0;
}

.calc-row button {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  transition: 0.2s;
}

button:hover {
  box-shadow: 0px 0px 5px #1b181a;
}
